<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalPal</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link href= "/assets/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <a href="#" class="logo">CalPal</a>

    <nav class="navbar">
        <a href="index">home</a>
        <a href="categories">categories</a>
        <a href="">database</a>
        <a href="reviews">reviews</a>
        <a href="blogs">blogs</a>
        <a href="">about us</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-user" id="login-btn"></div>
    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

 
    <div class="shopping-cart">
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="/assets/image/cart-img-1.png" alt="">
            <div class="content">
                <h3>watermelon</h3>
                <span class="price">700 tenge</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="/assets/image/cart-img-2.png" alt="">
            <div class="content">
                <h3>onion</h3>
                <span class="price">1000 tenge</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="/assets/image/cart-img-3.png" alt="">
            <div class="content">
                <h3>chicken</h3>
                <span class="price">1500 tenge</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="total"> total : 3200 tenge</div>
        <a href="#" class="btn">checkout</a>
    </div>

    <form action="" class="login-form">
        <h3>login now</h3>
        <input type="email" placeholder="your email" class="box">
        <input type="password" placeholder="your password" class="box">
        <p>forget your password <a href="#">click here</a></p>
        <p>don't have an account <a href="#">create now</a></p>
        <input type="submit" value="login now" class="btn">
    </form>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>fresh and <span>organic</span> products for your</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam libero nostrum veniam facere tempore nisi.</p>
        <a href="#" class="btn">shop now</a>
    </div>

</section>

<!-- home section ends -->



<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading"> customers' <span>review</span> </h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="/assets/image/pic-1.png" alt="">
                <p>Received my order a week back. Wanted to say that the mangoes were in perfect condition & truly delicious! Reminded me of mangoes I ate in India during my childhood. Thank you very much & have a wonderful weekend.</p>
                <h3>Gordon Williams</h3>
            </div>

            <div class="swiper-slide box">
                <img src="/assets/image/pic-2.png" alt="">
                <p>My order was on my porch when l arrived home just now. Thank you so much! This is my first time ordering with your company. I want to continue to order from you.</p>
                <h3>Joyce Hayes</h3>
            </div>

            <div class="swiper-slide box">
                <img src="/assets/image/pic-3.png" alt="">
                <p>Excellent Work, This is a good and Informative post. In this post I truly got quality information. I am definitely looking more in this post. Really very useful and Informative information are provided here. Thank you so much for writing keep up like this.</p>
                <h3>Tyrone Smith</h3>
            </div>

            <div class="swiper-slide box">
                <img src="/assets/image/pic-4.png" alt="">
                <p>Excellent pricing and fast shipping. Sometimes you have to really dig to find what you want. But, chanes are they have it.</p>
                <h3>Aisha Enayatulla</h3>
            </div>

        </div>

    </div>

</section>

<!-- review section ends -->



<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3> CalPal <i class=""></i> </h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.</p>
            <div class="share">

                <a href="#" class="fab fa-instagram"></a>

            </div>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +7 702 857 53 80</a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +7 708 343 41 51</a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> agzam.alpysbaev1311@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> amina20030756@gamil.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> nur-sultan, kazakhstan </a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> features </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> products </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> categories </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> review </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> blogs </a>
        </div>


    </div>

    <div class="credit"> created by <span> asians </span> | all rights reserved </div>

</section>

<!-- footer section ends -->















<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>